

.questions{
  text-align: center;
  margin: 0 10vw;
}

.selections{
  cursor: pointer;
  list-style: none;
  border: 1px solid #000;
  margin:0.8vh 20vw;
  padding:13px;
  text-align: left;
}

.answer_box{
  list-style: none;
  display: none;
  border: 1px solid #000;
}



