/* reset css*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


/* ここまでがreset css */

/* ヘッダー部分 */

header{
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;

}
.header_left{
    display: flex;
    flex-direction: row;
    font-size: 50%;
}


.posse_logo{
    width: 150px;
    height: 100px;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: -20px;
}


.header_left_text{   
    font-size: small;
    color: #9BBDD3;
    margin-top: 25px;
}

.header_right{
    margin: 10px 20px;
}

.header_button{
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%) ;
    font-size: 16px;
    border-radius:40px;
    border: 1px solid #6091d3;
    width: 180px;
    padding: 8px;
}

/* ここからmain部分 */
body{
    background-color: #f0f0f0;
}

.main{
    display: flex;
    margin: 0 50px;
    gap: 20px;
}


/* ページ左部分 */
.left{
    width: 50%;
}

.left_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.box{
    width: 33%;
    margin:20px 0 0 0;
    padding:10px 10px ;
    background-color: #fff;
    border-radius: 10%;
}

/* todayのbox */
.today{
    text-align: center;
    margin: 10px 0;
    color: #0E71BC;
    font-weight: bold;
    font-size: 80%;

}

/* monthのbox */
.month{
    text-align: center;
    margin: 10px 0;
    color: #0E71BC;
    font-weight: bold;
    font-size: 80%;


}
/* totalのbox */
.total{
    text-align: center;
    margin-top: 10px;
    color: #0E71BC;
    font-weight: bold;
    font-size: 80%;

}

/* hourの数字 */
.hour_number{
    text-align: center;
    margin-top: 10px;
    font-size: 2.5vw;
    font-weight: bold;
}

.hour{
    text-align: center;
    margin-top: 10px;
    color: #9BBDD3;
    font-size: 80%;

}

.hour_graph{
    margin:20px 0 0 0;
    width:100%;
    height:auto;
    border-radius: 10px;
}



/* ページ右側部分 */
.right{
  width: 50%;

}
.right_box{
    display: flex;
    width: 100%;
    gap: 20px;
}

.right_contents{
    width: 50%;
    height: auto;
    margin: 20px 0 0 0;
    padding:20px 0 47px 0;
    background-color: #fff;
    border-radius: 10px;
}

.right_box_titles{
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2%;
}
.chart{
    width: 100%;
}
.circle_graph1{
    width: 100%;
    margin: 10% 0 ;
}
.circle_graph2{
    width: 100%;
    margin: 10% 0 ;
}

.circle{
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin: 0 3px 0 9px;
   
  }
/*学習言語の丸の色 */
#i_color1754EF{
    background-color: #1754ef;
}
#i_color1071BD{
    background-color: #1071bd;
}
#i_color20BEDE{
    background-color: #20bede;
}
#i_color3CCEFE{
    background-color: #3ccefe;
}
#i_colorB29EF3{
    background-color: #b29ef3;
}
#i_color6D46EC{
    background-color: #6d46ec;
}
#i_color4A18EF{
    background-color: #4a18ef;
}
#i_color3105C0{
    background-color: #3105C0;
}

/* 学習コンテンツの丸の色 */
#s_color1754EF{
    background-color: #1754ef;
}
#s_color1071BD{
    background-color: #1071bd;
}
#s_color20BEDE{
    background-color: #20bede;
}


.study_languages{
    display: flex;
    flex-wrap: wrap;
}
.study_items{
    color: #6a6a6a;
    margin:2vh 0.3vw 0 0;
    font-size: 14px;
}

.study_contents{
    color: #6a6a6a;
    margin:2.5vh 0.3vw;
}


/* ここからモーダルエリア */
.modal_area{
    width: 900px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    z-index: 9999;
    transition: 0.6s;
    /* モーダルをはじめは見えなくするcss */
    opacity: 0;
    display: none;  
}

.show {
    opacity: 1; 
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
  }

.modal_main{
    display: flex;
    flex-direction: row;
}

.in_show{
    display: none;
}

.load{
    display: none;
    
}
.show_load{
    display: block;
    text-align: center;
    z-index: 1;
}

.close_modal{
    display: table;
    background-color: #f4f5f9;
    padding:5px 10px;
    font-size: 30px;
    border-radius: 50%;
    margin-left: 850px;
}
/* モーダル左部分 */
.modal_left{
    width: 41.55%;
    margin-left: 56px;
    margin-right: 40px;
 
}

.modal_day_input{
    background-color: #f6f6f6;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0;
}

.modal_study_contents{
    margin-top: 20px;
}
.modal_study_contents_all{
    display: flex;
    flex-wrap: wrap;
}

.modal_study_contents_check{
    border-radius: 20px;
    padding: 10px 12px;
    margin: 10px 10px 10px 0;
    background-color: #f4f5f9;
}

.modal_study_languages{
    margin-top: 20px;
}

.modal_study_languages_all{
    display: flex;
    flex-wrap: wrap;
}

.modal_study_languages_check{
    border-radius: 20px;
    padding: 10px 10px 10px 0;
    margin:5px;
    background-color: #f4f5f9;
}

.checked{
    background-color: #aecffa;
}

/* モーダル右部分 */
.modal_right{
    width: 41.55%;
   margin-right: 56px;
}
.modal_hour_input{
    background-color: #f6f6f6;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0;
}

.modal_twitter_textarea{
    background-color: #f6f6f6;
    width: 100%;
    border: none;
    height: 40vh;
    border-radius: 10px;
    margin: 10px 0;
}
/* モーダルのフッター部分 */
.modal_footer{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.modal_footer_btn{
    text-align: center;
    background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%);
    border-radius: 30px;
    padding: 5px 200px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    border:none; 
    cursor: pointer;
}



.Checkbox{
    box-sizing: border-box;
    display: none;
}
.Checkbox-fontas{
    position: relative;
    vertical-align: middle;
    font-size: 18px;
    border-radius: 30px;
    border:none;
    padding: 10px;
    margin:5px 0;
}
.Checkbox + .Checkbox-fontas:before {
    font-weight: 800;
    font-family: "Font Awesome 5 Free";
    content: '\f058';
    color: #ccc;
}
.Checkbox:checked + .Checkbox-fontas:before {
color: #0467ad;
}


/* footer */
.footer_text{
    text-align: center;
    margin-top: 5vh;
}


/* レスポンシブ対応 */

@media screen and (min-width:481px) {
	.sp{
		display: none;
	}
}
@media screen and (max-width:480px) {
	.pc{
		display: none;
	}
/* メイン部分 */
    .main{
        display: block;
        padding: 0 ;
        margin: 0 20px;
    }
/* 左部分（３つのボックスと棒グラフ） */
    .left{
        width: 100%;
       
    }

    .left_box{
        gap: 16px;
    }


    .box{
        margin: 20px 0 0 0;
        width: 33%;
        justify-content: space-between;
    }
    .hour_number{
        font-size: 100%;
    }

    .hour_graph{
        margin: 32px 0 0 0;
        width: 100%;
    }
/* 右の部分（円グラフ２つ） */
    .right{
        margin: 0;
        width: 100%;
    }


    .right_box{
        width: 100%;
        gap: 16px;
        display: flex;
    }

    .right_contents{
        width: 50%;
        margin:5% 0 0 0;
    }

    .right_box_titles{
        margin: 0 0 0 1vw;
        font-size: 3vw;
    }
    .circle_graph1{
        margin:2vh 0 0 0;
    }
    .circle_graph2{
        margin:2vh 0 0 0;
    }

    .circle{
        width: 7px;
        height: 7px;
    }

    .study_items{
        font-size: 16%;
    }

    .study_contents{
        font-size: 16%;
    }

    .sp{
        text-align: center;
        margin: 20px 0;
        width: 100%;
    }

    .modal_area{
        padding: 0;
        width: 100%;
    }

    .modal_main{
        display: block;
        padding: 0;
        margin: 0 20px;
    }
    .close_modal{
        float: right;
        margin-right: 20px;
        margin-top: 20px;
    }

    .modal_left{
        margin: 0;
        width: 100%;
    }
    .modal_day_input{
        height: 40px;
    }

    .title{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .modal_study_contents_check{
        margin: 0 8px 8px 0;
        padding:5px 8px;
    }
    .check_content{
        font-size:14px;
    }
    .modal_study_languages_check{
        margin: 0 8px 8px 0;
        padding:5px 8px;
    }

    .check_language{
        font-size: 14px;
    }

    .modal_right{
        margin: 0;
        width: 100%;
    }
    .modal_hour_input{
        margin: 0 0 24px 0;
    }

    .modal_twitter_textarea{
        height: 10vh;
        margin: 0 0 10px 0;
    }
    .twitter_check{
        font-size: 10px;
        padding: 0;
    }
    .modal_footer_btn{
        width: 100%;
        padding: 5px 30vw;
        margin-top: 22px;
    }
    .show {
        opacity: 1; 
        display: block;
        position: absolute;
        margin-top: 64px;
        top:70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}